<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>529528003363-f7mnfb2mmrfkfe4552pi4g5irusl3n7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.529528003363-f7mnfb2mmrfkfe4552pi4g5irusl3n7r</string>
	<key>API_KEY</key>
	<string>AIzaSyD_U7CEg6VFrsXsGwSVsBehq8-stA9XEho</string>
	<key>GCM_SENDER_ID</key>
	<string>529528003363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winglamtsang.masterproject</string>
	<key>PROJECT_ID</key>
	<string>uoh-master-project-21066202</string>
	<key>STORAGE_BUCKET</key>
	<string>uoh-master-project-21066202.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529528003363:ios:ea0ddd03426452f9ca0a96</string>
</dict>
</plist>